ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
//---------Card css-----------------
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
//---------Card css-----------------
//---------4 row display css-----------------
* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    //width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/*---------footer css-----------------*/
/*.footerT {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}*/
/*---------footer css-----------------*/

.gameContainer{
	width : 450px;
	height : 450px;
	position:absolute;
	background-color:white;
	border-style:solid;
	border-color:black;
	margin-bottom:60px;
}
.gamebox{
	width:50px;
	height:50px;
	margin-left:5px;
	margin-bottom:5px;
	margin-top:5px;
	border:0.5px;
	border-style: solid;
	border-color:black;
	position:relative;
	background-color:white;
	float:left;
}
.gameXxXContainer{
	background-color:gray;
	height:70%;
	width:285px;
	position:relative;
	left:50px;
}
.gameResultContainer{
	//margin-top:10px;
	position:relative;
	width:100%;
	height:30%;
	border-style:solid;
	border-color:black;
}

.gameResult{
	position:relative;
	width:100%;
	height:70%;
	background-color:lime;
}

.gameDifficultyLevel{
	position:absolute;
	width:100%;
	height:30%;
	border-top-style:solid;
	border-color:black;
	
}
.gameTimer{
	text-align: center;
	font-size: 60px;
	margin-top:0px;
}